footer{
    background-color: black;
    .footer{
        padding: 20px;
        .top{
            display: flex;
            justify-content: space-between;
            .address{
                display: flex;
                gap: 10px;
                color: white;
            }
        }
        .bottom{
            display: flex;
            justify-content: space-between;
            padding: 50px 0;
            .icons{
             display: flex;
             gap: 10px;
            a{
                color: black;
                border-radius: 50px;
               background-color: white;
               padding: 5px;
             
            }
            }
        }
    }
}