.header{
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    h3{
        font-size: 30px;
        color: rgb(70, 8, 70);
    }
    nav{
      ul{
        display: flex;
        gap: 30px;
        li:hover{
            background-color:  rgb(70, 8, 70);
            border-radius: 12px;
            padding: 5px;
           a{
            color: white;
           }
          }
        a{
            color:  rgb(70, 8, 70);
            font-size: 20px;
            
        }
      }
     
    }
}